@{
    Layout = null;
}
@model LoginUserDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Berkay AKAR</title>
    <meta name="description" content="Berkay Akar Kişisel Portfolio" />
    <link rel="apple-touch-icon" href="~/Theme/Cv/assets/images/icon.png">
    <link rel="shortcut icon" href="~/Theme/Cv/assets/images/icon.png" type="image/png">
    <link href="~/Theme/Admin/codervent.com/syntrans/demo/vertical/assets/css/pace.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Theme/Admin/codervent.com/syntrans/demo/vertical/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
    <link rel="stylesheet" href="~/Theme/Admin/codervent.com/syntrans/demo/vertical/assets/css/icons.css" />
    <link rel="stylesheet" href="~/Theme/Admin/codervent.com/syntrans/demo/vertical/assets/css/app.css" />
    <style>
        .input-validation-error {
            border-style: solid;
            border-color: red;
        }
    </style>
</head>
 

<body class="bg-theme bg-theme1">
    <div class="wrapper">
        <div class="section-authentication-login d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card radius-15">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div class="card-body p-md-5">
                                    <input type="hidden" value="@Model.ReturnUrl" />
                                    <form asp-action="singin" asp-controller="Account" method="post">
                                        <div class="text-center">
                                            <img src="~/Theme/Cv/assets/images/icon.png" width="80" alt="">
                                            <h3 class="mt-4 font-weight-bold">Hoşgeldiniz</h3>
                                        </div>

                                        <div class="form-group mt-4">
                                            <label> Email Address & User Name <span asp-validation-for="@Model.UserName"> </span></label>
                                            <input type="text" asp-for="@Model.UserName" class="form-control" placeholder="Enter your email address or user name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Password <span asp-validation-for="@Model.Password"> </span></label>
                                            <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Enter your password" />
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                                    <label asp-for="@Model.RememberMe" class="custom-control-label" for="customSwitch1">Remember Me</label>
                                                </div>
                                            </div>
                                            <div class="form-group col text-right">
                                                <a href="authentication-forgot-password.html"><i class='mr-2'></i><pre>                </pre></a>
                                            </div>
                                        </div>
                                        <div class="btn-group mt-3 w-100">
                                            <button type="submit" class="btn btn-light btn-block">Giriş Yap</button>
                                            <button type="button" class="btn btn-light">
                                                <i class="lni lni-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="bg-danger" asp-validation-summary=ModelOnly> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wrapper -->
</body>


<!-- Mirrored from codervent.com/syntrans/demo/vertical/authentication-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 14:35:06 GMT -->
</html>
@await Component.InvokeAsync("NToastNotify")
