@model ProjectCreateDto
@section style {

    <script src="https://cdn.tiny.cloud/1/vzf7ve9wqqox74jnlwl0kgqt75adziem7vqxli0jnw32zp3l/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}
<div class="col-12">

    <h2 class="text-center"> Proje Oluşturma Sayfası</h2>
    <hr />
    <br />

    <form asp-action="CreateProject" asp-controller="Project" asp-area="Admin" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="inputAddress">Proje Adı <span class="text-danger" asp-validation-for="@Model.Name">*</span> </label>
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Proje Adı Giriniz ">
        </div>
        <div class="form-group">
            <label for="inputAddress">Projeye açıklaması <span class="text-danger" asp-validation-for="@Model.ShortDescription">*</span> </label>
            <input asp-for="@Model.ShortDescription " class="form-control" id="inputAddress" placeholder="Description ">
        </div>
        <div class="form-group">
            <label for="inputAddress">Proje Açıklaması  <span class="text-danger" asp-validation-for="@Model.Description">*</span> </label>
            <textarea rows="30" asp-for="@Model.Description" class="form-control" id="mytextarea" placeholder="Projeye bu aşamada açıklama girilecektir. "></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress">Kapak Resmi <span class="text-danger" asp-validation-for="@Model.ProjectImage">*</span> </label>
            <input asp-for="@Model.ProjectImage"  type="file" class="form-control" placeholder=" Resim seçimi yapınız "></input>
        </div>
        <br />
        <div class="form-group">
            Şirket Projesi: <input asp-for="@Model.ProjectType" type="radio" value="1" />
            Bireysel Proje: <input asp-for="@Model.ProjectType" type="radio" value="2" />
        </div>

        <div class="form-group">
            <label for="inputAddress">Proje Oluşturma Tarihi  <span class="text-danger" asp-validation-for="@Model.ProjectCreateDate">*</span></label>
            <input asp-for="@Model.ProjectCreateDate" class="form-control" placeholder=" Tarih Seçimi Yapınız "></input>
        </div>

        <input asp-for="@Model.CreatedDate" hidden/>
        <input asp-for="@Model.ModifiedDate" hidden />

        <div asp-validation-summary="All">

        </div>
        <button type="submit" class="btn btn-primary">Proje Kaydı </button>
    </form>
</div>

@*
<form method="post">
    <textarea id="mytextarea">Hello, World!</textarea>
</form> *@